@tailwind base;
@tailwind components;
@tailwind utilities;

.footstep {
	position: absolute;
	width: 6px !important;
	height: 12px !important;
	border-radius: 80% 80% 70% 70%/130% 130% 25% 25% !important;
	z-index: 20;
	background-color: #123123;
	color: #123123;
}
.footstep:before {
	content: "";
	background-color: #123123;
	color: #123123;
	position: absolute;
	border-radius: 6px;
	width: 5px;
	height: 5px;
	top: 110%;
	left: 0px;
	border-radius: 0 0 100% 100%;
}

.el {
	height: 16px;
	width: 16px;
	background-color: green;
  }